<h1>Surveys</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Submitted?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.title, survey %></td>
        <td><%= survey.user.email %></td>
        <td>
          <% if submitted?(survey) %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
